<!-- <div *ngFor="let t of repos">
    <div class="card text-dark mx-auto" >
    <div class="row">
    <div class="col-lg-12">
    <div class="row">
    <div class="col-lg-6">
    <div class="card-title" ><b>{{t.userId}}</b></div>
    </div>
    <div class="col-lg-6">
    <div class="card-text" ><p style="text-align: right;"> {{t.createdOn|date:'medium'}}</p></div>
    </div>
    </div>
    <div class="row">
    <div class="col-lg-12">
    <div class="card-body" >&nbsp;&nbsp;{{t.tweetMsg}}</div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div> -->
    <div class="bg-img">
        <div class="content">
            <div fxLayout="row wrap" fxLayoutGap="16px grid">
              <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let t of repos">
                <mat-card class="mat-elevation-z4" style="background-color: rgb(137, 191, 241);">
                  <mat-card-header>
                    <mat-card-title>{{t.userId}}</mat-card-title>
                  </mat-card-header>
                  <!-- <img mat-card-image src="./../assets/images/mountains.jpg"> -->
                  <mat-card-content>
                    <p>
                        &nbsp;&nbsp;{{t.tweetMsg}}
                    </p>
                    <p>
                        {{t.createdOn|date:'medium'}}
                    </p>
                  </mat-card-content>
                 
                </mat-card>
              </div>
            </div>
            </div>
        </div>