<div class="bg-img"  >

<mat-card class="example-card" >
  
        <mat-card-title>Login
             </mat-card-title>
             <br/>
             <br/>
        <mat-card-subtitle>
            Login for existing users
        </mat-card-subtitle>  
        <br/>
    <mat-card-actions>
        <!-- <button mat-button style=
            "background-color:blue; color:white">
            LIKE
        </button> -->
  
        <button mat-button  class="mat-button-align" style=
            "background-color:green; color:white" (click)="btnClick()">
            Login
        </button>
    </mat-card-actions>
</mat-card>
<mat-card class="example-card" >
  
    <mat-card-title>Register
         </mat-card-title>
         <br/>
         <br/>
    <mat-card-subtitle>
        Register for new users
    </mat-card-subtitle>  
    <br/>
<mat-card-actions>
    <!-- <button mat-button style=
        "background-color:blue; color:white">
        LIKE
    </button> -->

    <button mat-button  class="mat-button-align" style=
        "background-color:green; color:white" (click)="btnClickRegister()">
        Register
    </button>
</mat-card-actions>
</mat-card>
</div>

