<div class="bg-img">
<!-- <div class="container" style="padding-top:40px;padding-left: 50rem;">   -->
    <!-- <div class="row">   -->
      <!-- <div class="col-md-6 mx-auto">   -->
        <!-- <div class="card mx-4">   -->
          <mat-card class="example-card" [style.width.px]=500>
          <div class="card-body p-4">  
            <form [formGroup]="UserForm" (ngSubmit)="onFormSubmit()" class="text-center border border-light p-5"> 
              <h1 style="text-align:center;text-shadow:1rem;">Register</h1>  
            
              <mat-form-field [style.width.px]=300>  
               
                <input matInput type="text" class="form-control" placeholder="FirstName"  formControlName="firstName">  
                </mat-form-field> 
                <mat-form-field [style.width.px]=300>  
                <input matInput type="text" class="form-control" placeholder="LastName"  formControlName="lastName">  
              </mat-form-field>  
              <mat-form-field [style.width.px]=300> 
                <input matInput type="text" class="form-control" placeholder="Email"  formControlName="email">  
              </mat-form-field>   
              <!-- <div class="input-group mb-4">  
                <input type="text" class="form-control" placeholder="LoginId"  formControlName="LoginId">  
              </div>   -->
              <mat-form-field [style.width.px]=300>  
                <input matInput type="password" class="form-control" placeholder="Password"  formControlName="password">  
              </mat-form-field>  
              <!-- <div class="input-group mb-4">  
                <input type="text" class="form-control" placeholder="ConfirmPassword"  formControlName="ConfirmPassword">  
              </div>  
              <div class="input-group mb-4">  
                <input type="text" class="form-control" placeholder="ContactNumber"  formControlName="ContactNumber">  
              </div>  -->
              <mat-card-actions>
                <button mat-raised-button (click)="onFormSubmit()" color="primary">AddUser</button>
              </mat-card-actions>
              <!-- <button type="submit" class="btn btn-block btn-success">Add User</button>   -->
            </form>  
          </div>  
        </mat-card>
        </div>  
      <!-- </div>  
    </div>  
  </div> 
</div>  -->